[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
sns = "*"
seaborn = "*"
sklearn = "*"
pyvttbl = "*"
pingouin = "*"
voila = "*"
bqplot = "*"
ipympl = "*"
ipyvolume = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.9"
